.container {
    font-family: Montserrat;
    background-color: var(--second-color);
    width: 400px;
    border-radius: 10px;
    padding: 0.5rem;
    .image {
        width: 100%;
    }

    h3 {
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: #fff;

            &:visited {
                color: white;
            }
        }
    }

    .date {
        margin: 1rem 0 0 0;
        color: #fff;
    }
}
