.avatar {
	display: flex;
	justify-content: center;
	align-items: center;

	.image {
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
	}

	.text {
		font-weight: 700;
		font-family: Montserrat;
		margin: 1rem;
	}
}
