.container {
	padding: 0.5rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	a {
		.image {
			height: auto;
			max-width: 100%;
			border-radius: 15px;
			object-fit: cover;
		}
	}
}
