@import "../sass/abstracts/mixins";

.container {
	margin: 0 1rem;
	background-color: var(--main-color);

	.data {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		@include respond(phone) {
			.image {
				flex-direction: column;
				.block {
					p {
						margin-top: 2rem;
					}
				}
			}
		}

		.block {
			font-family: Montserrat;
			color: white;
			margin: 0 2rem 2rem 2rem;

			p {
				margin: 0;
			}
		}

		.image {
			display: flex;
			margin: 2rem;
			justify-content: space-between;
			align-items: flex-end;

			img {
				border-radius: 5px;
				box-shadow: 2px 2px 50px 6px rgba(53, 46, 46, 0.514);
			}

			.block {
				margin: 0 0 0 1rem;

				@include respond(phone) {
					margin: 0;
				}
			}
		}
	}
}
