@import "../sass/abstracts/mixins";

.container {
	margin: 0 1rem;
	background-color: var(--main-color);
	border-radius: 15px;

	@include respond(phone) {
		margin: 0;
	}

	.data {
		display: flex;
		justify-content: center;

		@include respond(phone) {
			.image {
				flex-direction: column;
				img {
					border-radius: 15px;
				}
				.block {
					p {
						margin-top: 2rem;
					}
				}
			}
		}

		.image {
			display: flex;
			margin: 2rem;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			img {
				border-radius: 5px;
				box-shadow: 2px 2px 50px 6px rgba(53, 46, 46, 0.514);
				max-width: 600px;
			}

			.block {
				font-family: Montserrat;
				color: white;
				margin: 2rem;

				p {
				}
			}
		}
	}
}
