@import "../sass/abstracts/mixins";

.container {
  margin: 0 10rem;

  @include respond(tab-land) {
    margin: 0;
  }
  .pagetitle {
    width: 100%;
    font-family: montserrat;
    margin: 0;

    h1 {
      font-size: 3rem;
      color: var(--main-color);

      @include respond(phone) {
        font-size: 2.2rem;
      }
    }
  }

  @include respond(phone) {
    margin: 0;
    padding: 1rem;
  }
}
