@import "../sass/abstracts/mixins";

.container {
	.pagetitle {
		width: 100%;
		font-family: montserrat;
		margin: 0;

		h1 {
			font-size: 3rem;
			color: var(--main-color);
			padding: 0.2rem;

			@include respond(phone) {
				font-size: 2.2rem;
			}
		}
	}

	.cards {
		background-color: var(--second-color);
		border-radius: 15px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 5rem 1rem 5rem 1rem;

		@include respond(tab-port) {
			padding: 1rem;
		}
	}
}
