@import "../sass/abstracts/mixins";

.container {
    margin: 0 10rem;
    height: 100%;

    @include respond(tab-land) {
        margin: 0;
    }
    .pagetitle {
        font-family: montserrat;
        margin: 0;

        h1 {
            font-size: 3rem;
            color: var(--main-color);
            padding: 0.2rem;

            @include respond(phone) {
                font-size: 2.2rem;
            }
        }
    }

    .about-data {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;

        article {
            height: 100%;
            header {
                font-size: 2.5rem;
                font-weight: 500;
                font-family: montserrat;

                @include respond(tab-land) {
                    font-size: 1.9rem;
                }

                @include respond(tab-port) {
                    text-align: center;
                }
            }
            .aboutpage {
                padding: 1rem;
                color: white;
                font-family: Montserrat;
                background-color: var(--main-color);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .blocks {
                    max-width: 1300px;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;

                    .image-block1 {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 1rem;

                        @include respond(tab-land) {
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .image {
                            min-width: 100%;

                            img {
                                border-radius: 10px;
                                min-width: 100%;
                                @include respond(tab-land) {
                                    max-width: 100%;
                                }
                            }
                        }

                        .section1 {
                            p {
                                max-width: 800px;
                            }
                        }
                    }
                    hr {
                        width: 100%;
                        border: none;
                        height: 0.25rem;
                        background-color: var(--second-color);
                        margin: 1rem 0;
                    }
                    .section2 {
                        figure {
                            margin: 0;
                            img {
                                border-radius: 10px;
                                max-width: 100%;
                                height: auto;
                            }
                        }
                        p {
                            max-width: 800px;
                        }
                    }
                }
            }
        }
    }
}
