@import "../sass/abstracts/mixins";

.container {
	margin: auto;

	@include respond(phone) {
		margin: 0;
	}

	.home-data {
		article {
			.pagetitle {
				font-family: montserrat;
				margin: 0;

				h1 {
					font-size: 3rem;
					color: var(--main-color);
					padding: 0.2rem;

					@include respond(phone) {
						font-size: 2.2rem;
					}
				}
			}

			header {
				font-size: 2.5rem;
				font-weight: 500;
				font-family: montserrat;

				@include respond(tab-land) {
					font-size: 1.9rem;
				}

				@include respond(tab-port) {
					text-align: center;
				}
			}
			.homepage {
				padding: 1rem;
				color: white;
				font-family: Montserrat;
				background-color: var(--main-color);
				border-radius: 15px;
				.image {
					img {
						border-radius: 15px;
						max-width: 100%;
						height: auto;
					}
				}

				.section1 {
					p {
						max-width: 800px;
					}
				}

				.section2 {
					p {
						max-width: 800px;
					}

					figure {
						img {
						}
					}
				}
			}
		}
	}
}
