.container {
	margin: 0.5rem 1rem;
	background-color: var(--color-1);
	color: white;

	article {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		header {
			font-size: 2.5rem;
			font-family: Arial, Helvetica, sans-serif;
		}

		.homepage {
			img {
				width: 10rem;
			}
		}
	}
}
