@import "../sass//abstracts/mixins";

.container {
	background-color: var(--main-bg-color);
	padding: 1rem;
	font-family: "Roboto", sans-serif;

	h2 {
		margin: 0;
		color: var(--text-main);
	}

	.popular {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		max-width: 1700px;

		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 16px 16px;
		grid-auto-flow: row;
		grid-template-areas:
			". . . . ."
			". . . . ."
			". . . . ."
			". . . . .";
	}
	@include respond(tab-port) {
		.popular {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			max-width: 1700px;
			grid-template-areas:
				". . . ."
				". . . ."
				". . . ."
				". . . ."
				". . . .";
			img {
			}
			h3 {
				font-size: 1.2rem;
			}
		}
	}
	@include respond(phone) {
		.popular {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			img {
			}
			h3 {
				font-size: 1rem;
			}
		}
	}
}
