@import "../sass//abstracts/mixins";

.container {
	width: 100%;

	.card {
		display: flex;
		justify-content: center;
		position: relative;
		background-position: center;
		background-size: cover;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #000000d3;
			z-index: 1;
		}
		.mediaInfo {
			display: flex;
			justify-content: center;
			gap: 2rem;
			color: #fff;
			padding: 4rem;
			flex: 1 1 1500px;

			.image {
				z-index: 2;

				img {
					border-radius: 15px;
				}
			}
			.generalInfo {
				z-index: 2;
				display: flex;
				flex-direction: column;
				flex-basis: 600px;

				.title {
					font-family: Roboto;
					h1 {
						margin-top: 0;
						font-size: 1.8rem;
					}

					.tagline {
						color: var(--text-highlighted);
					}

					.rating {
						display: flex;
						align-items: center;

						h3 {
							border: 3px solid var(--text-highlighted);
							font-size: 1rem;
							padding: 0.3rem;
							border-radius: 50%;
							color: var(--text-highlighted);
						}

						.release_date {
						}

						.genres {
						}
					}

					.overview {
						p {
							display: block;
							margin-block-start: 1em;
							margin-block-end: 1em;
							margin-inline-start: 0px;
							margin-inline-end: 0px;
						}
					}
				}

				.trailer {
					display: flex;
					justify-content: flex-start;
					margin-top: 2.5rem;
					iframe {
						border-radius: 10px;
						flex-basis: 600px;
						height: 300px;
					}
				}
			}
		}

		@include respond(tab-port) {
			.mediaInfo {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 2rem;
				width: 100%;

				.image {
					margin: 1rem;
				}
				.generalInfo {
					z-index: 2;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					padding: 0 1rem;

					.title {
						h1 {
						}

						.tagline {
						}

						.rating {
							h3 {
							}

							.release_date {
							}

							.genres {
							}
						}

						.overview {
							p {
							}
						}
					}

					.trailer {
						width: 100%;
						height: 100%;
						iframe {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		@include respond(phone) {
			.mediaInfo {
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				padding: 0rem;

				.image {
					margin: 1rem 0 0 0;
				}
				.generalInfo {
					z-index: 2;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					width: 100%;
					padding: 0 1rem;
					.title {
						h1 {
						}

						.tagline {
						}

						.rating {
							h3 {
							}

							.release_date {
								justify-content: center;
								align-items: center;
							}

							.genres {
								justify-content: center;
								align-items: center;
								font-size: 0.8rem;
							}
						}

						.overview {
							display: flex;
							justify-content: center;
							width: 100%;
							align-items: center;
							p {
							}
						}
					}

					.trailer {
						padding: 1rem;
						iframe {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}

	.cast {
		padding: 1rem;
		h2 {
			color: white;
			font-size: 2.5rem;
			font-family: Roboto;
			text-align: center;
		}

		.castlist {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			box-sizing: border-box;
			font-size: 1rem;
		}
	}
}
