.container {
	margin: 0.5rem 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	.title {
		font-family: Montserrat;
		h2 {
			font-size: 3rem;
		}
	}

	.post {
		font-family: "Open Sans", sans-serif;
		padding: 0 50px;
		p {
			letter-spacing: 0.1rem;
			text-indent: 50px;
		}
	}

	.avatar {
		margin: 2rem 0 2rem 0;
	}
}
