.container {
	margin: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: var(--second-color);
	color: white;

	.title {
		font-family: Montserrat;
		padding: 0.5rem 1rem;
		h2 {
			font-size: 3rem;
		}
	}

	.post {
		font-family: "Open Sans", sans-serif;
		padding: 0 50px;
		p {
			letter-spacing: 0.1rem;
			text-indent: 50px;
		}
	}

	.avatar {
		margin: 2rem 0 2rem 0;
		padding: 0.5rem 1rem;
	}
}
