@import "../sass//abstracts/mixins";

.container {
	background-color: var(--main-bg-color);
	padding: 1rem;
	font-family: "Roboto", sans-serif;
	max-width: 1700px;

	header {
		h2 {
			margin: 0rem;
			font-family: "Roboto", sans-serif;
			color: #fff;
		}
	}

	.results {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 16px 16px;
		grid-auto-flow: row;
		grid-template-areas:
			". . . . ."
			". . . . ."
			". . . . ."
			". . . . .";
	}

	@include respond(tab-port) {
		.results {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			max-width: 1700px;
			grid-template-areas:
				". . . ."
				". . . ."
				". . . ."
				". . . ."
				". . . .";
			img {
			}
			h3 {
				font-size: 1rem;
			}
		}
	}
	@include respond(phone) {
		.results {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			img {
			}
			h3 {
			}
		}
	}
}
